.header{
  color: #fff;
}
.titulo {
  font-size: 1.5em;
}

.botao {
  display: flex;
  padding: 1em 1.5em;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}
.botao-cheio{
  background-color: #0090FF;
  background-image: linear-gradient(12deg, #33A6FF, #0090FF);

  border: #0090FF 1px solid;
  border: none;
  border-radius: 50px;
  color: #fff;
}
.tarefa{
  display: flex;
  height: 4em;
  font-size: 1em;
  text-transform: capitalize;
  border-bottom: #eee 1px solid;
  align-items: center;
  color: #777;
  
}

.subtarefa-meio{
  margin-left: 3em;
}
.subtarefa-ultima{
margin-left: 4em;
}
.checkbox{
  /* background-color: #aaaa; */
  display: flex;
  border: #aaa 1px solid;
  width: 20px;
  height: 20px;
  margin: 0 1em 0 1em;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  color: transparent;
}
.checkbox:hover{
  border: #0090FF 1px solid;
  color: #0090FF;
  cursor: pointer;
}
.conteudo-lista{
  margin-bottom: 5em;
}
.icon{
  width: 15px;
  height: 15px;
}

.icon-favorito{
  margin-right: 1em;
  opacity: .6;
}

.texto-lista{
  flex: 1;
}
